html {
	background-color: rgb(255,240,245);
	font: 18px 'Comic Sans MS', cursive; 
	margin: 0 auto 0 auto;
 }

img {
	border: solid 9px mintCream;
	box-shadow: 3px 3px 5px honeydew;
	width: 250px;
}

h1 {
	border: none 0 lavenderBlush;
	font: 110px 'Marck Script', cursive;
	text-align: center;
	text-shadow: 4px 2px 5px black;
}

body {
	text-align: center;
}

a {
	text-decoration: none;
}

a:visited { 
	color: black;
}

a:hover {
	color: springGreen;
}
